@import 'bootstrap/dist/css/bootstrap';

.right{
    float: right;
}

.logout-button{
    margin-right: 5px;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}

.course{
    padding-top: 40px;
    
}